
.search-box {
  background-color: #b0b0b0;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
.form-control {
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}



.cont {
  margin-top: 15px;
  display: grid; /* Cambia a grid para un mejor control */
  grid-template-columns: repeat(5, 1fr); /* Cinco columnas iguales */
  justify-items: center; /* Centra los elementos dentro de sus celdas */
  gap: 10px; /* Espaciado entre las celdas */
}

.containergif {
  img {
    width: 250px;
    height: 200px;
  }
  p {
    font-size: 15px;
  }
}
